@model List<WebGURDIAN.Models.SANPHAM>
@{
    ViewBag.Title = "SanPhamAll";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<h2>Sản Phẩm</h2>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Grid</title>
    <link rel="stylesheet" href="~/CSS/Test.css" />
</head>
<div class="row">
    @{
        foreach (var item in Model)
        {
            // Tạo đường dẫn URL đến trang chi tiết sản phẩm
            var productDetailsUrl = Url.Action("XemChiTiet", "SanPham", new { msp = item.MASP });

            <div class="product-container">
                <a href="@productDetailsUrl" class="product-link">
                    <!-- Bọc thẻ <a> xung quanh product-card -->
                    <div class="product-card">
                        <div class="badge">MUA 1 TẶNG 1</div>
                        <img src="@Url.Content("~/images/" + item.HINH)" />
                        <h3>@item.DANHMUCSP.TENDM</h3>
                        <p>@item.TENSP</p>
                        <div class="price">@item.GIA</div>
                    </div>
                </a>
            </div>
        }
    }
</div>
</html>
